@import '/src/app/_styles/variables';
@import '/src/app/_styles/utils';

.EmptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 64px 0;
  color: $textMuted;

  p {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
  }
}
